name: bus_seat_plan
description: "A Flutter package for managing bus seat layouts and seat selection."
version: 2.0.0
homepage: https://github.com/htut-git/flutter-bus-seat-plan  # Your GitHub Repo
repository: https://github.com/htut-git/flutter-bus-seat-plan  # Shows on pub.dev
issue_tracker: https://github.com/htut-git/flutter-bus-seat-plan/issues  # Bug reports

environment:
  sdk: ^3.6.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  equatable: ^2.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  assets:
    - assets/images/

platforms:
  android:
  ios:
  macos:
  web:
  linux:
  windows:
